.dr_catagory_checkbox input,
.ht_catagory_checkbox input,
.checkbox_item input {
  accent-color: #ff5d47;
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.dr_catagory_checkbox label,
.ht_catagory_checkbox label,
.checkbox_item label {
  display: inline-block;
  color: #1e1e1e;
  font-weight: normal;
  margin-bottom: 10px;
  position: relative;
}

.ht_catagory_checkbox label {
  margin-bottom: 0;
}

.sr_main_left_filter input[type="range"] {
  display: block;
  width: 100%;
  accent-color: #ff5d47;
  border-radius: 0px;
  outline: none;
}

p#range_value {
  font-size: 16px;
  color: #1e1e1e;
  margin-top: 10px;
}

.sr_catagory_checkbox,
.dis_checkbox,
.seller_checkbox,
.fuel_stop,
.argus_checkbox,
.is_bao,
.wyvern,
.amenities,
.otherscheck {
  margin-top: 1rem;
}

.checkbox_item:last-child label {
  margin-bottom: 0;
}

.dp_ready_wrapper,
.filter_drop {
  padding-left: 16px;
  max-height: 340px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 20px;
}

.filter_drop::-webkit-scrollbar {
  width: 6px;
}

.filter_drop::-webkit-scrollbar-track {
  background-color: #d7d6d6;
  border-radius: 6px;
}

.filter_drop::-webkit-scrollbar-thumb {
  background: #ff5d47;
  border-radius: 6px;
}

.argus .filter_drop {
  padding-left: 0;
}

.ext input,
.int input,
#insslider {
  margin: 1rem 0px;
}

.ext #exttextvalue,
.int #inttextvalue {
  text-transform: capitalize;
  font-weight: normal;
  color: #1e1e1e;
}

.argus .filter_drop {
  padding-right: 0;
}

.item_wrapper {
  display: grid;
  grid-template-columns: 1fr 0.9fr 1.1fr;
  column-gap: 35px;
  margin-bottom: 12px;
  padding-right: 20px;
}

.item_block_wrapper {
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px;
}

.item_img img {
  display: block;
  width: 100%;
  height: 245px;
  object-fit: cover;
  border-radius: 6px;
}

.item_cnt h4 {
  font-size: 24px;
  font-weight: 700;
  color: #03141b;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.item_cnt p {
  font-size: 20px;
  font-weight: normal;
  color: #1e1e1e;
  margin-top: 10px;
}

.item_cnt img {
  display: block;
  max-width: 100%;
  margin-top: 40px;
  width: 140px;
}

img.seat_logo {
  display: inline-block;
  width: 24px;
  margin: 0px 10px;
}

.item_cnt {
  padding-top: 40px;
}

.portcodename img {
  display: block;
  width: 100%;
}

.itemstop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.itemstop_left p {
  font-size: 15px;
  color: #1e1e1e;
}

.itemstop_middle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.itemstop_middle p,
.itemstop_middle span {
  font-size: 17px;
  color: #1e1e1e;
  text-transform: uppercase;
}

.price {
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 14px;
  margin-bottom: 12px;
  margin-top: 14px;
}

.price h3 {
  font-size: 26px;
  font-weight: 700;
  color: #03141b;
}

.price h5 {
  font-size: 18px;
  font-weight: 700;
  color: #03141b;
  margin-top: 5px;
  margin-bottom: 2px;
}

.price p {
  font-size: 15px;
  color: #1e1e1e;
}

.bookingbutton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookingbutton a,
.bookingbutton button {
  display: inline-block;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.bookingbutton button:last-child {
  background-color: #a2a2a2;
  border-color: #a2a2a2;
}

.bookingbutton button:last-child img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1714%)
    hue-rotate(282deg) brightness(108%) contrast(108%);
}

.pagination button {
  display: inline-block;
  background-color: transparent;
  height: 46px;
  width: 46px;
  border-radius: 12px;
  background-color: #f3f3f3;
  color: #2f2f2f;
  font-weight: 700;
}

.pagiprev {
  width: 60px !important;
  background-image: url(https://cdn.prod.website-files.com/6713759f858863c516dbaa19/6731c63ca921fbf5867f7906_blackleft.avif);
  height: 46px !important;
  background-size: 100% 100%;
  background-color: transparent !important;
}

.paginext {
  width: 60px !important;
  background-image: url(https://cdn.prod.website-files.com/6713759f858863c516dbaa19/6731c6505bf5a2a3eb0d037b_blackright.avif);
  height: 46px !important;
  background-size: 100% 100%;
  background-color: transparent !important;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
}

.pagination-btn.active {
  background-color: #ff5d47;
  color: #fff;
}

.item_reslt_wrapper .pagination {
  margin-top: 45px;
}

.hotwrapper {
  background-color: #edffec;
  position: relative;
  margin-bottom: 10px;
}

.hot_headls_logo {
  width: 75px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  text-align: center;
}

.hot_headls_logo img {
  width: 100%;
  display: block;
}

.hot_headls_logo span {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  left: 60%;
  top: 48%;
  transform: translate(-50%, -50%);
}

.hot_feature p {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  color: #1e1e1e;
  margin-bottom: 10px;
}

.hot_feature {
  margin-top: 22px;
}

.hot_feature p img {
  display: block;
  width: 18px;
  margin: 0;
}

.entire p {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.hot_book {
  margin-top: 66px;
}

.activeBtn .details-button img {
  transform: rotate(180deg);
}

.item_tab_heading_block ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.item_tab_heading_block ul li.tiggitem {
  display: inline-block;
  text-transform: uppercase;
  color: #03141b;
  padding: 8px 12px;
  letter-spacing: 1px;
  font-weight: 700;
  border: 1px solid #a2a2a2;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.item_tab_heading_block ul li:hover {
  background-color: #fff;
  border-color: #fff;
  color: #ff5d47;
}

.details-button img {
  transition: all 0.2s ease;
}

.overflow_wrapper {
  display: grid;
  grid-template-rows: 0em 0px;
  transition: all 0.4s ease;
  overflow: hidden;
}

.item_tab_block {
  transition: all 0.4s ease;
}

.tab_item_cnt_wrapper {
  margin-top: 25px;
}

.tab_one_heading h3 {
  font-size: 20px;
  font-weight: 700;
  color: #03141b;
  text-transform: uppercase;
  margin-bottom: 4;
}

.tab_one_heading p {
  font-size: 16px;
  color: #1e1e1e;
}

.tab_one_slider {
  margin-top: 25px;
}

.dyslideItem img {
  display: block;
  width: 100%;
  border-radius: 6px;
}

.tab_one_slider {
  padding: 0px 90px;
}

.tab_one_slider {
  position: relative;
}

.swipper_ctrl span {
  display: block;
  width: 60px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.swipper_ctrl span:first-child {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.swipper_ctrl span:last-child {
  position: absolute;
  right: -22px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.swipper_ctrl span img {
  display: block;
  width: 100%;
}

.swipper_ctrl span:hover {
  opacity: 0.7;
}

.tab_one_next_heading {
  margin-top: 20px;
}

.activeTabPanel .overflow_wrapper {
  grid-template-rows: 2.5em 1fr;
}

.sliderOn {
  padding: 0;
}

.sliderOn .swipper_ctrl {
  display: none;
}

.sliderOn .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.item_tab_one:first-child {
  display: block;
}

.item_tab_one {
  display: none;
}

.activePanel {
  display: block;
}

.activetabitem {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #ff5d47 !important;
}

.detailstb_left h3,
.inttabDet h3,
.opadetails h3,
.opadet_bottom_review_right h3,
.poli_wrapper h3,
.payment_tab h3 {
  font-size: 20px;
  font-weight: 700;
  color: #03141b;
  text-transform: uppercase;
}

.detailstb_left_det,
.intdet_wrapper,
.opadet_wrapper,
.payment_wrapper {
  background-color: #fff;
  border-radius: 14px;
  padding: 30px;
  margin-top: 15px;
}

.detailstb_left_det_item {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  margin-bottom: 15px;
}

.detailstb_left_det_item:last-child {
  margin-bottom: 0;
}

.detailstb_left_det_item p:first-child {
  font-size: 18px;
  color: #1e1e1e;
}

.detailstb_left_det_item p:last-child {
  font-size: 18px;
  color: #03141b;
  font-weight: 700;
  text-transform: uppercase;
}

.detleft_item {
  display: flex;
  gap: 10px;
}

.detleft_item span {
  width: 24px;
  height: 24px;
  background-color: #1abc9c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.detleft_item p {
  font-size: 17px;
  color: #03141b;
  font-weight: 700;
}

.detailstb_right .detailstb_left_det {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.detailstb_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 35px;
}

.detailstb_right .detailstb_left_det {
  position: relative;
}

.detailstb_right .detailstb_left_det p.Notfoundarray {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.intdet_wrapper {
  display: grid;
  grid-template-columns: 0.6fr 0.9fr 0.5fr;
}

.intdet_left img {
  display: block;
  max-width: 100%;
}

.intdet_left {
  padding-right: 40px;
  border-right: 1px solid #f3f3f3;
  padding-top: 30px;
}

.intdet_middle {
  padding-left: 40px;
}

.intdet_middle_date {
  display: flex;
  margin-bottom: 15px;
  gap: 4px;
}

.intdet_middle_date p.takeoffdate {
  font-size: 18px;
  font-weight: 700;
  color: #03141b;
  text-transform: uppercase;
}

.intdet_middle_date p.landdate {
  font-size: 18px;
  color: #ff5d47;
}

.operator_textlist p {
  font-size: 18px;
  color: #03141b;
  margin-bottom: 15px;
  width: 60%;
}

.fuelstop p {
  font-size: 18px;
  color: #03141b;
}

.fuelstop p img {
  display: inline-block;
  width: 17px;
  margin-right: 5px;
}

.fuelstop p span {
  display: inline-block;
  color: #ff5d47;
}

.indetright_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  background-color: #f3f3f3;
  border-radius: 50%;
  margin: auto;
}

.indet_right {
  text-align: center;
}

.indet_right img {
  display: block;
  width: 45px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.indet_right span {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 8px;
}

.indet_right p {
  font-size: 26px;
  font-weight: 700;
  color: #03141b;
  text-transform: uppercase;
}

.opadet_top_left p {
  font-size: 25px;
  font-weight: 700;
  color: #03141b;
}

.opadet_top {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.6fr;
  gap: 30px;
}

.opadet_top_left img {
  display: block;
  max-width: 100%;
  margin-top: 12px;
}

.opadet_top_middle p {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 18px;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 15px;
}

.opadet_top_middle p:last-child {
  margin-bottom: 0;
}

.opadet_top_middle p span {
  display: block;
  font-weight: normal;
}

.opadet_top_right iframe {
  display: block;
  width: 100%;
  height: 230px;
  border-radius: 8px;
}

.opadet_bottom {
  margin-top: 40px;
}

.opadet_bottom_heading ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.opadet_bottom_heading ul li {
  display: inline-block;
  margin-right: 12px;
}

.opadet_bottom_heading ul li img {
  display: inline-block;
  width: 100px;
}

.opadet_bottom_heading ul li span {
  display: inline-block;
  font-size: 18px;
  color: #ff5d47;
  font-weight: normal;
}

.opadet_bottom_heading {
  padding-bottom: 20px;
  border-bottom: 1px solid #f3f3f3;
}

.reviewitem_block {
  display: flex;
  align-items: center;
  row-gap: 20px;
}

.obarleft p {
  font-size: 18px;
  color: #1e1e1e;
}

.obarmiddle {
  width: 100%;
}

.obarmiddle span {
  display: block;
  width: 100%;
  height: 8px;
  background-color: #f3f3f3;
}

.obaright p {
  font-size: 18px;
  color: #1e1e1e;
  text-align: right;
}

.obarleft {
  width: 100px;
}

.obaright {
  width: 55px;
}

.reviewitem_block {
  margin-bottom: 25px;
}

.reviewitem_block:last-child {
  margin-bottom: 0;
}

.opadet_bottom_review_right_item p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  color: #1e1e1e;
  margin-bottom: 25px;
}

.opadet_bottom_review_right_item p:last-child {
  margin-bottom: 0;
}

.opadet_bottom_review_right_item p img {
  display: inline-block;
  width: 16px;
}

.opadet_bottom_review {
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  column-gap: 30px;
  margin-top: 25px;
}

.opadet_bottom_review_right h3 {
  margin-bottom: 16px;
}

.polibox {
  background-color: #fff;
  border-radius: 14px;
  padding: 20px;
  margin-top: 15px;
}

.poli_box_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.poli_wrapper h3 span {
  color: #ff5d47;
  display: inline-block;
  margin-left: 10px;
}

.polibox_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 1px solid #d7d6d6;
}

.polibox_heading span.recom {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #399033;
  padding: 6px 25px;
  border-radius: 12px;
  text-transform: uppercase;
}

.polibox_cnt_item {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.checkicon {
  width: 20px;
}

.polibox_cnt_item img {
  display: inline-block;
  width: 100%;
}

.polibox_cnt_item p {
  font-size: 18px;
  color: #1e1e1e;
  width: calc(100% - 20px);
}

.polibox_cnt_item p span {
  font-weight: 700;
  text-transform: uppercase;
}

.polibox_cnt_item p.capitalize span {
  text-transform: capitalize;
}

.inted_middle_time p,
.airportformatname p,
.operator_textlist p {
  font-size: 18px;
  color: #1e1e1e;
}

.inted_middle_time,
.airportformatname,
.operator_textlist {
  margin-bottom: 15px;
}

.airportformatname {
  width: 80%;
}

.payment_wrapper {
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  gap: 80px;
}

.paymenttab_left_item {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

.paymenttab_left_item:last-child {
  margin-bottom: 0;
}

.paymenttab_item_img {
  width: 20px;
}

.paymenttab_item_img img {
  display: block;
  width: 100%;
}

.paymenttab_left_item p {
  width: calc(100% - 20px);
  color: #1e1e1e;
}

.paymenttab_right p {
  font-size: 18px;
  color: #1e1e1e;
}

.paymenttab_right_percent {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0px;
}

.paybar {
  width: 100%;
  height: 6px;
  background-color: #3a9234;
  border-radius: 36px;
}

.paybar_text {
  width: 92px;
}

.paybar_text img {
  display: inline-block;
  width: 20px;
  margin-right: 4px;
  filter: brightness(0) saturate(100%) invert(42%) sepia(93%) saturate(366%)
    hue-rotate(68deg) brightness(94%) contrast(89%);
}

.paybar_text span {
  display: inline-block;
  color: #03141b;
  font-weight: 700;
}

.payment img {
  display: block;
  width: 270px;
  margin-top: 25px;
}

.askform {
  display: block !important;
  padding-bottom: 10px;
}

.askform textarea {
  display: block;
  width: 100%;
  height: 130px;
  border: 0;
  outline: none;
  color: #1e1e1e;
  font-size: 18px;
  resize: none;
  padding-right: 20px;
}

.askform button {
  display: inline-block;
  border: 0;
  outline: none;
  padding: 0;
  background-color: transparent;
  transition: all 0.3s ease;
}

.askform button img {
  display: inline-block;
  width: 50px;
}

.askform button:hover {
  opacity: 0.7;
}

.submitbtn {
  text-align: right;
}

.time-picker .srpagetimeinput {
  padding: 0.75rem !important;
  width: 100px !important;
}

#finalresult {
  display: inline-block;
  margin: 0px 3px;
}

.argus {
  max-height: 100%;
}

.slider-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.slide img {
  width: 100%;
  display: block;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 22px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.dyslideItem img {
  height: 220px;
  object-fit: cover;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}

.modal-content {
  margin: auto;
  display: block;
  width: 800px;
  height: 500px;
  object-fit: cover;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
}

.modal-prev,
.modal-next {
  position: absolute;
  top: 50%;
  color: #ffffff;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
  padding: 0 20px;
  transition: color 0.3s;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-prev:hover,
.modal-next:hover {
  color: #bbb;
}

.modal-prev {
  left: 0;
}

.modal-next {
  right: 0;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: auto;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slide .dyslideItem img {
  cursor: pointer;
}

.individulimages {
  cursor: pointer;
}

.sr_exp_icon_box {
  cursor: pointer;
  transition: all 0.3s ease;
}

.sr_exp_icon_box:hover {
  opacity: 0.7;
}

.slide .dyslideItem img {
  height: 270px;
}

.activeview {
  background-color: #a2a2a2;
}

.activeview img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(288deg) brightness(102%) contrast(102%);
}

.changeview .search_right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.changeview .item_wrapper {
  grid-template-columns: 1fr;
}

.changeview .slide .dyslideItem img {
  height: 175px;
}

.changeview .item_wrapper {
  padding-right: 0;
}

.changeview .item_cnt {
  padding-top: 20px;
}

.changeview .hot_feature {
  margin-top: 18px;
}

.changeview .hot_book {
  margin-top: 5px;
}

.changeview .item_cnt p {
  height: 30px;
  font-size: 16px;
  margin-top: 4px;
}

.changeview .item_cnt img {
  margin-top: 15px;
  margin-bottom: 15px;
}

.changeview .item_tab_heading_block ul {
  flex-wrap: wrap;
}

.sr_main {
  position: relative;
}

.changeview .tab_item_cnt_wrapper {
  display: none;
}

.listview .tabxholder .item_tab_one {
  display: none !important;
}

.changeview .activeTabPanel .overflow_wrapper {
  display: block;
}

.changeview .overflow_wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  right: -100%;
  top: 0;
  z-index: 99;
}

.changeview .activeTabPanel .overflow_wrapper {
  right: 0;
}

.changeview .item_tab_heading_block {
  position: absolute;
  width: 50%;
  top: 90px;
  right: 0;
  background-color: #f3f3f3;
  z-index: 99;
  padding: 26px;
  border-radius: 12px 0px 0px 12px;
  padding-right: 60px;
  height: calc(100vh - 90px);
  overflow-x: hidden;
  overflow-y: auto;
}

.changeview .hotwrapper .item_tab_heading_block {
  background-color: #eeffed;
}

.cross_itemx span {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -46px;
}

.cross_itemx span img {
  display: inline-block;
  width: 24px;
}

.changeview .item_tab_heading_block ul {
  display: block;
}

.changeview .item_tab_heading_block ul .tabxholder li.tiggitem {
  display: block;
  background-color: transparent !important;
  border: 1px solid #111 !important;
  background-image: url("https://cdn.prod.website-files.com/6713759f858863c516dbaa19/67459d1f63b186d24efc3bbe_Jettly-Search-Results-Page-(List-View-Details-Tab).png");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: top 15px right 10px;
  color: #000 !important;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: all 0.2s ease;
}

.changeview .item_tab_heading_block ul .tabxholder li.tiggitem:hover {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #fe5c46 !important;
}

.changeview .item_tab_heading_block ul .tabxholder li.tiggitem.activetabitem {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #fe5c46 !important;
}

.listview .item_tab_heading_block > span {
  display: none;
}

.cross_itemx {
  position: sticky;
  right: 0;
  top: 0;
}

.changeview .tiggitem.activetabitem {
  background-image: url("https://cdn.prod.website-files.com/6713759f858863c516dbaa19/6767d9c5e55be10dc16c59e6_67459d1f63b186d24efc3bbe_Jettly-Search-Results-Page-(List-View-Details-Tab)%201.png") !important;
}

.changeview .opadet_top_middle p {
  grid-template-columns: 1fr;
  gap: 5px;
}

.changeview .opadet_bottom_review {
  grid-template-columns: repeat(2, 1fr);
}

.changeview .payment_wrapper {
  grid-template-columns: 0.55fr 0.45fr;
}

.range-slider {
  position: relative;
  width: 100%;
  height: 10px;
  margin-bottom: 16px;
}

.slider-track {
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #3b3b3b;
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.slider-range {
  position: absolute;
  height: 7px;
  background-color: #ff5d47;
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.slider-thumb {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #ff5d47;
  border: 2px solid #ff5d47;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  touch-action: none;
}

.range-values {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.range-values {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.range-values p.min,
.range-values p.max {
  user-select: none;
}

.hourrate {
  padding-left: 10px;
  padding-right: 10px;
}
.broker_mode {
  margin-top: 12px;
}

.reset {
  background-color: var(--red);
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 0.75rem;
  padding: 0.75rem 2.25rem;
  font-weight: 700;
  transition: all 0.3s;
}
