@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 400;
  background: #fff;
  color: #333333;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

label {
  margin-bottom: 0;
}

::selection {
  color: white;
  background: #ff7675;
}

::-webkit-selection {
  color: white;
  background: #ff7675;
}

::-moz-selection {
  color: white;
  background: #ff7675;
}

.scrolltotop {
  width: 40px;
  height: 40px;
  border-radius: 20px 20px 0 0;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;
  padding-top: 8px;
  font-size: 22px;
  color: #ffffff;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: none;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {
  background: #000;
  color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.search_wrapper {
  display: grid;
  grid-template-columns: 360px 1fr;
}

.search_right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.item_wrapper img {
  display: block;
  width: 100%;
}

.pagination {
  flex-wrap: wrap;
  gap: 20px;
}

.search_left {
  background-color: #f3f3f3;
  padding: 26px;
  border-radius: 10px;
}

.searchBox {
  margin-top: 40px;
  margin-bottom: 30px;
}

input[type="range"] {
  display: block;
  width: 100%;
  margin: 15px 0px;
}

.mt45 {
  margin-top: 40px;
}

.headingText {
  margin-bottom: 15px;
}

.checkbox_item_wrapper {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

h5 {
  margin-bottom: 0;
}

.subheading {
  background-color: #fff;
  padding: 6px 20px;
  margin-bottom: 15px;
  margin-top: 26px;
}
